.App {
  height: 100vh;
  padding-top: auto;
  padding-bottom: auto;
  text-align: center;
  margin: 0 0 auto;
  width: 100vw;
  background-image :url('./imgs/BGIMG.jpg');
  overflow: hidden
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gradation {
  font-size: 30px;
  font-weight: bold;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(red, blue);
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh; /* 画面全体の高さに対応する */
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}